:root {
  --bg: #071028;
  --card: #0f2133;
  --accent: #00c2b8;
  --accent-2: #ffb86b;
  --text: #f5f5f5;
  --muted: #97a6b8;
  --glass: rgba(255, 255, 255, 0.04);
  --radius: 12px;
  --fnt:'Allura';

  --bs-body-bg: var(--bg);
  --bs-body-color: var(--text);
  --bs-primary: var(--accent);
  --bs-secondary: var(--muted);
  --bs-warning: var(--accent-2);
}

body {
  background: linear-gradient(180deg, var(--bg) 0%, #0b1c36 100%);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

ul a {
  color: var(--text) !important;
}

.navbar-toggler-icon {
  filter: invert(1); /* Invert the color to make it visible on dark background */
}

.navbar h1 {
  font-family: var(--fnt);
}

.bg-card {
  background: var(--card) !important;
}
.text-accent {
  color: var(--accent) !important;
}
.text-muted-custom {
  color: var(--muted) !important;
}
.rounded-custom {
  border-radius: var(--radius) !important;
}

.glass {
  background: var(--glass) !important;
  backdrop-filter: blur(10px);
}

.btn-accent-2 {
  background: var(--accent-2);
  color: #071028;
  border: none;
}
.btn-accent-2:hover {
  background: #ffca8a;
}

.btn-outline-accent {
  border: 1px solid var(--accent);
  color: var(--accent);
}
.btn-outline-accent:hover {
  background: var(--accent);
  color: #071028;
}

.aslan-logo {
  height: 50px;
}
